<li>
  <%= gravatar_for user, size: 30 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete, confirm: "You sure?" %>
  <% end %>
  <% if current_user.admin? && user.locked? && !current_user?(user) %>
    | <%= link_to "unlock", unlock_user_path(user), method: :get, confirm: "Enable new user?" %>
  <% end %>
</li>